@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

@theme {
    --font-poppins: 'Poppins', sans-serif;
}

.fade-in-up {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 560ms ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.float-anim {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-8px)
    }

    100% {
        transform: translateY(0px)
    }
}

.animate-blob {
    animation: blob 10s infinite;
    transform-origin: 50% 50%;
}

@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1)
    }

    33% {
        transform: translate(20px, -30px) scale(1.05)
    }

    66% {
        transform: translate(-20px, 20px) scale(0.95)
    }

    100% {
        transform: translate(0px, 0px) scale(1)
    }
}